<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Advisor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="D:\Fonts\Thammasat Font\TUFont" rel="stylesheet">
    <link rel="stylesheet" href="Advisor_style.css">
    <style>
        body{
            font-family :'TH SarabunPSK', sans-serif;
        }
        .padding-0{
        padding-right:0;
        padding-left:0;
        }
        .head{
        grid-area: header;
        background-image:url("https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.0-9/p960x960/125800158_1885630594921026_4986505238814922718_o.jpg?_nc_cat=105&ccb=2&_nc_sid=730e14&_nc_ohc=5tgRHifuW9EAX-h3nAe&_nc_ht=scontent.fbkk22-2.fna&tp=6&oh=70390cdddd370a3cd286871895c1567e&oe=5FE075A8");
        
        font-family:"THAMMASAT", sans-serif;
        color:#8B0000;
        text-align: left;
    }
    </style>
</head>

<body>
  <div class ="head">
    <div class="row">
        <div class="col-sm-2" style="background-color:  #C3002F;" >
            <center><img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Emblem_of_Thammasat_University.svg/1200px-Emblem_of_Thammasat_University.svg.png" width="200 px" height="200 px">
            </center>
            </div>
        
        <div class="col-sm-6" style="background-image: url('main-bg-home.png');">
            <font face = "THAMMASAT, sans-serif" color = "#C3002F" size = 7 px>
              <br>
              <b>ระบบยื่นคำร้องออนไลน์</b>
            </font>
            <font face = "THAMMASAT, sans-serif" color = "#C3002F" size = 5 px>
              <br>
              <b>ภาควิชาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยธรรมศาสตร์ ศูนย์รังสิต</b>
            </font>
            </div>
        </div>
     </div>   
    </div>
    <div class="row">
        <div class="col-sm-2" style="background-color: #C3002F;" >
            <br>
            <Font face = "THAMMASAT, sans-serif" size = 4 px>
              <a href="Log-in.html"><button type="button" class="btn btn-warning btn-lg btn-block" style="margin-top: 6%; margin-left: 7px;"><b>ออกจากระบบ</b></button></a>
              <a href="Index_Advisor.html"><button type="button" class="btn btn-warning btn-lg btn-block" style="margin-top: 2%; margin-left: 7px;"><b>เมนูหลัก</b></button></a>
              <a href="information_As.html"><button type="button" class="btn btn-warning btn-lg btn-block" style="margin-top: 2%;margin-left: 7px;"><b>ข้อมูลส่วนตัว</b></button></a>
            <a href="ment.html" style="text-decoration: none"><button type="button" class="btn btn-warning btn-lg btn-block" style="margin-top: 2%;margin-left: 7px;"><b>แสดงความเห็น</b></button></a>

            </Font>
            <Font color = "#e10925">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </Font>
        </div>
        
        <div class="col-sm-6 padding-0">
            <div class="col"  style="background-color:  #C3002F;">
            <font face = "THAMMASAT, sans-serif" color = "white" size = "5 px">
                <b>ดร.อาจารย์วนิดา พฤทธิวิทยา</b>
            </font>
            </div>

            <div class="col">
              <font face = "TH SarabunPSK, sans-serif" color = "#1E4BA1" size = 8 px>
                <b><i>ยินดีต้อนรับ..</i></b><br>
              </font>
              <font face = "TH SarabunPSK, sans-serif" color = " #C3002F" size = 7 px>
                <b>ดร.อาจารย์วนิดา พฤทธิวิทยา</b><br>
              </font>
              <font face = "TH SarabunPSK, sans-serif" color = "#63666A" size = 6.5 px>
                <div class="p mb bg-light text-darkgrey"><b>ประกาศเรื่อง</b></div>
              </font>
              <font face = "TH SarabunPSK, sans-serif" color = "#1E4BA1" size = 6 px>
                <a href="ment.html" class="text-decoration-none"><b><u>1. คำร้องการจดทะเบียนล่าช้ารอการแสดงความเห็นชอบจากอาจารย์ที่ปรึกษา</u></b></a>
              </font>
              <font face = "TH SarabunPSK, sans-serif" color = "black" size = 5 px>
                <p>มีคำร้องการจดทะเบียนล่าช้ารอการแสดงความเห็นชอบ ภายในวันที่ 14/08/63 คลิกที่นี่เพื่อดูรายระเอียดเพื่มเติม</p>
              </font>
            </div>
        </div>
    </div>
</body>
</html>